# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Executa em pushes direcionados para a branch principal
  push:
    branches: ["principal"] # Mantenha "principal" se esta for sua branch
  
  # Permite executar este fluxo de trabalho manualmente
  workflow_dispatch:

# Define as permissões
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      # ETAPAS ESSENCIAIS PARA REACT/VITE:
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' 
          
      - name: Instalar dependências e Compilar (Build)
        run: |
          npm install
          npm run build
      
      # ETAPAS FINAIS DE DEPLOY
      - name: Setup Pages
        uses: actions/configure-pages@v5
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # A pasta de saída do Vite/React
          path: 'dist' 
          
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
